/* angular */
[ng\:cloak], 
[ng-cloak], 
.ng-cloak {
  display: none !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
       
ul {
  margin: 0;
  padding: 0;
}

/* purecss basic topup */
.l-box {
  padding: 0.5em 1.0em;
}

@mixin horizontal-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin vertical-left() {
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin vertical-right() {
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin vertical-center() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* background image and snow image */
body {
  overflow: hidden;
/*  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;*/
}
.pure-button {
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
}

/* main view */
#logo {
  background: url(../images/greenpeace_logo.png) no-repeat top left;
  background-size: 100px auto;
  height: 50px;
  position: relative;
  text-indent: -999em;
}

#video_background {
  bottom: 0px;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute; 
  right: 0px; 
  top: 0;
  width: auto;
  z-index: -1000;
  filter: gray;
  -webkit-filter: grayscale(1);
}

#location {
  @include vertical-center();
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  left: 0;
  right: 0;
  /*-webkit-filter: blur(1px); 
  -moz-filter: blur(1px); 
  -o-filter: blur(1px); 
  -ms-filter: blur(1px); 
  filter: blur(1px);*/
  a {
    color: #fff;
    margin-right: 0.5em;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
  }
  a:hover {
    border: 2px solid #66AFCC;
    color: #66AFCC;
  }
}

footer {
  background: transparent;
  border-top: 1px solid #fff;
  bottom: 0;
  color: #fff;
  height: 70px;
  left: 0;
  position: absolute;
  right: 0;
}