<div class='pure-u-1' id='main-view'>
  <h1 id='logo'>greenpeace</h1>
  <video id='video_background' preload='auto' autoplay='true' loop='loop' muted='muted' volume='0'>
  	<source src='videos/splash.webm' type='video/webm'>
  	<source src='video/20140213_Anlene_Master.mp4' type='video/mp4'> Video not supported 
  </video>
  <div id='location'>
  	<a class='pure-button' href=''>Location</a>
  	<a class='pure-button' href=''>Location</a>
  	<a class='pure-button' href=''>Location</a>
  	<a class='pure-button' href=''>Location</a>
  	<a class='pure-button' href=''>Location</a>
  </ul>
</div>
